In [7]:
import numpy as np
import pandas as pd
import requests
import math
from scipy import stats
import xlsxwriter
from secrets import IEX_CLOUD_API_TOKEN

In [8]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [9]:
symbol = "AAPL"
api_url = f"https://sandbox.iexapis.com/stable/stock/{symbol}/stats/?token={IEX_CLOUD_API_TOKEN}"    
data = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2401857607474,
 'week52high': 160.25,
 'week52low': 110.65,
 'week52highSplitAdjustOnly': 162.87,
 'week52lowSplitAdjustOnly': 111.75,
 'week52change': 0.232215855217735,
 'sharesOutstanding': 17003374400,
 'float': 0,
 'avg10Volume': 68000664,
 'avg30Volume': 82779879,
 'day200MovingAvg': 141.09,
 'day50MovingAvg': 148.8,
 'employees': 150135,
 'ttmEPS': 5.2,
 'ttmDividendRate': 0.857150901492781,
 'dividendYield': 0.006039463337230438,
 'nextDividendDate': '',
 'exDividendDate': '2021-08-01',
 'nextEarningsDate': '2021-10-25',
 'peRatio': 28.274933406131154,
 'beta': 1.4009524535723772,
 'maxChangePercent': 55.25699588735628,
 'year5ChangePercent': 4.403137323000014,
 'year2ChangePercent': 1.5391888461600067,
 'year1ChangePercent': 0.20796301870761,
 'ytdChangePercent': 0.09829234675498427,
 'month6ChangePercent': 0.081266599026744,
 'month3ChangePercent': -0.02308372523311059,
 'month1ChangePercent': -0.028783614701572282,
 'day30ChangePercent': -0.029383676755803133,
 'day5ChangePercent': 0.014060687843042466}

In [21]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]
symbol_groups = list(chunks(stocks['Ticker'], 100))
#print(symbol_groups)
symbol_strings = list()
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    print(symbol_strings[i])
    
my_columns = ["Ticker", "Price", "One-Year Price Return", "Number of Shares to Buy"]

A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA
CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCA,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD
GIS,GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HFC,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP
MCK,MCO,MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK
ROL,ROP,ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VIAC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WLTW,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL
YUM,ZBH,ZBRA,ZION,ZTS

In [35]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
            pd.Series(
                [
                symbol,
                data[symbol]['quote']['latestPrice'],
                data[symbol]['stats']['year1ChangePercent'],
                'N/A'],
            index = my_columns),
        ignore_index=True)
final_dataframe

    Ticker   Price One-Year Price Return Number of Shares to Buy
0        A  156.51              0.481672                     N/A
1      AAL   20.91               0.66443                     N/A
2      AAP  218.55              0.385505                     N/A
3     AAPL  146.50              0.209309                     N/A
4     ABBV  109.58              0.350424                     N/A
..     ...     ...                   ...                     ...
500    YUM  128.02              0.293849                     N/A
501    ZBH  153.35             -0.001844                     N/A
502   ZBRA  531.60               0.82321                     N/A
503   ZION   65.12              1.071634                     N/A
504    ZTS  210.81              0.254915                     N/A

[505 rows x 4 columns]

In [40]:
final_dataframe.sort_values("One-Year Price Return", ascending=False, inplace=True)
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace=True)
final_dataframe

    index Ticker   Price One-Year Price Return Number of Shares to Buy
0     148    DVN   41.50              3.405927                     N/A
1     317    MRO   16.65              2.908738                     N/A
2     175   FANG  112.43              2.643854                     N/A
3     275     LB   80.00              2.285599                     N/A
4     357    OXY   32.20              2.078738                     N/A
5     299   MCHP   73.51              1.660134                     N/A
6     410   SIVB  694.52               1.56151                     N/A
7      23    ALB  239.69              1.472687                     N/A
8     251     IT  315.84              1.470315                     N/A
9     195   FTNT  319.60              1.457204                     N/A
10    352    OKE   65.72              1.456669                     N/A
11    111   COTY    8.06               1.44064                     N/A
12    160    EOG   92.75              1.405528                     N/A
13    218    HES   93.11              1.359218                     N/A
14    179    FCX   40.17              1.298105                     N/A
15    315    MPC   68.90              1.285968                     N/A
16    305    MGM   48.11              1.284646                     N/A
17    272    KSS   48.46              1.275252                     N/A
18    417    SPG  143.82              1.274153                     N/A
19    245    IPG   38.30              1.251974                     N/A
20    285    LNC   74.80              1.189803                     N/A
21    109    COP   75.42              1.184167                     N/A
22    106    COF  169.39               1.16887                     N/A
23    386    PXD  197.60              1.158051                     N/A
24    314    MOS   43.24              1.154108                     N/A
25    407   SCHW   81.10              1.143589                     N/A
26     29   AMAT  136.68              1.143164                     N/A
27    482    WFC   50.75              1.140295                     N/A
28    344    NUE  105.26              1.132773                     N/A
29    412    SLB   35.00              1.129592                     N/A
30     66    BKR   27.40              1.123883                     N/A
31    265    KIM   22.79              1.118378                     N/A
32     98    CMA   84.00              1.093737                     N/A
33    342   NTAP   96.77              1.093073                     N/A
34     89     CF   61.00              1.091831                     N/A
35    174      F   16.00              1.089102                     N/A
36     82   CBRE  103.43              1.083499                     N/A
37    450    TXT   74.79               1.07302                     N/A
38    503   ZION   65.12              1.071634                     N/A
39    318     MS  106.50               1.06779                     N/A
40    129    DFS  131.62              1.049184                     N/A
41     18    AIG   61.05              1.034894                     N/A
42    468    VLO   82.41              1.032376                     N/A
43    441    TPR   39.50              1.030061                     N/A
44    212    HAL   26.37               1.02716                     N/A
45    210     GS  422.40              1.005899                     N/A
46    220    HIG   75.62              1.000639                     N/A
47    395    RHI  113.47              0.980952                     N/A
48    496    XOM   65.04              0.978507                     N/A
49     56    BAC   48.24              0.961654                     N/A

In [45]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the size of your portfolio: ")
    
    try:
        float(portfolio_size)
    except ValueError:
        print("THat is not a number! \nPlease try again: ")
        portfolio_size = input("Enter the size of your portfolio: ")

portfolio_input()

Enter the size of your portfolio: 1000000

In [47]:
position_size = float(portfolio_size)/len(final_dataframe.index)
print(position_size)

20000.0

In [48]:
for i in range(0, len(final_dataframe)):
    final_dataframe.loc[i, "Number of Shares to Buy"] = math.floor(position_size/final_dataframe.loc[i, "Price"])

final_dataframe

Z:\Projects\strategy_index_screener\.venv\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

    index Ticker   Price One-Year Price Return Number of Shares to Buy
0     148    DVN   41.50              3.405927                     481
1     317    MRO   16.65              2.908738                    1201
2     175   FANG  112.43              2.643854                     177
3     275     LB   80.00              2.285599                     250
4     357    OXY   32.20              2.078738                     621
5     299   MCHP   73.51              1.660134                     272
6     410   SIVB  694.52               1.56151                      28
7      23    ALB  239.69              1.472687                      83
8     251     IT  315.84              1.470315                      63
9     195   FTNT  319.60              1.457204                      62
10    352    OKE   65.72              1.456669                     304
11    111   COTY    8.06               1.44064                    2481
12    160    EOG   92.75              1.405528                     215
13    218    HES   93.11              1.359218                     214
14    179    FCX   40.17              1.298105                     497
15    315    MPC   68.90              1.285968                     290
16    305    MGM   48.11              1.284646                     415
17    272    KSS   48.46              1.275252                     412
18    417    SPG  143.82              1.274153                     139
19    245    IPG   38.30              1.251974                     522
20    285    LNC   74.80              1.189803                     267
21    109    COP   75.42              1.184167                     265
22    106    COF  169.39               1.16887                     118
23    386    PXD  197.60              1.158051                     101
24    314    MOS   43.24              1.154108                     462
25    407   SCHW   81.10              1.143589                     246
26     29   AMAT  136.68              1.143164                     146
27    482    WFC   50.75              1.140295                     394
28    344    NUE  105.26              1.132773                     190
29    412    SLB   35.00              1.129592                     571
30     66    BKR   27.40              1.123883                     729
31    265    KIM   22.79              1.118378                     877
32     98    CMA   84.00              1.093737                     238
33    342   NTAP   96.77              1.093073                     206
34     89     CF   61.00              1.091831                     327
35    174      F   16.00              1.089102                    1250
36     82   CBRE  103.43              1.083499                     193
37    450    TXT   74.79               1.07302                     267
38    503   ZION   65.12              1.071634                     307
39    318     MS  106.50               1.06779                     187
40    129    DFS  131.62              1.049184                     151
41     18    AIG   61.05              1.034894                     327
42    468    VLO   82.41              1.032376                     242
43    441    TPR   39.50              1.030061                     506
44    212    HAL   26.37               1.02716                     758
45    210     GS  422.40              1.005899                      47
46    220    HIG   75.62              1.000639                     264
47    395    RHI  113.47              0.980952                     176
48    496    XOM   65.04              0.978507                     307
49     56    BAC   48.24              0.961654                     414

In [50]:
print("""
Building HQM - high quality momentum - Strategy
1-month price returns
3-month price returns
6-month price returns
1-year price returns
""")

Building HQM - high quality momentum - Strategy
1-month price returns
3-month price returns
6-month price returns
1-year price returns